@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
span{color: #f00;}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
 
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #f00;
  background: #000;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}




.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #000;
}

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 3rem;
}

.header .logo span {
  color: #f00;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #f00;
}

.content{

  color: #fff;
  
  font-size: 2rem;

}




.Handlarejomtext{
  text-align: right;
  color: #fff;
  padding: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}



.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  position: relative;
  
}

.about .image::before, .about .image::after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f00;
  height: 15rem;
  width: 15rem;
}

.about .image::before {
  top: 0;
  left: 0;
}

.about .image::after {
  bottom: 0;
  right: 0;
}

.about .image img {
  width: 100%;
  padding: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
          
}

.about .content span {
  font-size: 2rem;
  color: #f00;
}

.about .content .title {
  font-size: 4rem;
  color: #fff;
  margin-top: .5rem;
}

.about .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .content .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  color: #f00;
}






h1{
  color: #fff;
  margin-left: 13%;
  margin-top: 3%;
}

h2{
  color: #aaa;
  max-width: 580px;
  margin-left: 13%;
  margin-top: 1%;
  line-height: 1.7;
}


.Hannesbild{
  margin-left: 60%;
  margin-top: -13.3%;
  margin-bottom: 9%;
}


  
  @media only screen and (max-width: 600px) {
    .image1 img {
      width: 100%;
      float: none;
    }
  }
  
   .image1{
    margin-top: 5%;
    margin-left: 10%;
    
    }
  
.HannesRubrik{
  color: #fff;
  font-size: 22px;
  margin-left: 45%;
  margin-top: -34.5%;
}

.HannesText{
  font-size: 1.7em;
  color: #aaa;
  max-width: 580px;
  margin-left: 30%;
  margin-top: 10%;
}